@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 20px;
}
* {
  font-family: "Share Tech Mono", monospace;
}
.montserrat-text {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Normal weight ke liye 400, bold ke liye 700 */
  font-style: normal;
}